// Global Colors

// Base Colors
$light   : #eaedef;
$lightOP : #eaedef6e;
$greyed  : #6b6b6b;
$lightBG : #b9b9b9;



// Operator Colors
$blue : #65858d;
$pink : #8d6571;
$tan  : #8d7565;
$green: #658d7e;
$purp : #71658d;

// Operator Colors OP
$blueOP : #65858da4;
$pinkOP : #8d6571ad;
$tanOP  : #8d75659d;
$greenOP: #658d7ea2;
$purpOP : #71658da8;


// Bubble Colors
$yellow     : #8d8965;
$grey       : #454546;
$turq       : #7eb3a5;
$greensheen : #7eb37e;
$pinkish    : #b15f77;

// Bubble Colors OP
$yellowOP     : #8d8965a9;
$greyOP       : #454546ab;
$turqOP       : #7eb3a5a2;
$greensheenOP : #7eb37e98;
$pinkishOP    : #b15f78ad;
